<% flash.each do |message_type, message| %>
  <p id="success"><%= message %></p>
<% end %>

<div class='title'>
  <p>
    <strong>Title:</strong>
    <%= @books.title %>
  </p>
</div>

<div class="body">
  <p>
    <strong>Body:</strong>
    <%= @books.body %>
  </p>
</div>

<%= link_to "Edit" ,edit_book_path(@books.id) %>
<%= link_to "Back" ,'/books' %>
